<div class="container mt-3 mb-5">
  <div class="row flex-lg-row-reverse mb-lg-5">
    <div class="col-12 col-lg-6 mb-3 mb-lg-0">
      <form action="">
        <div class="input-group input-group-lg">
          <input
            type="search"
            name="search"
            class="form-control"
            id="search"
            placeholder="How can we help you?"
            aria-label="Search for..."
          />
          <span class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-12 col-lg-6">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="#">Category Heading</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
