<div class="container mt-3 mb-5">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-12 col-lg-3">
      <app-navsidebar></app-navsidebar>
    </div>
    <div class="col-12 col-lg-6 pt-3">
      <main>
        <div class="section" *ngFor="let link of ids">
          <h2>Category heading</h2>
          <h3 class="font-italic" [attr.id]="link">Category Subheading</h3>
          <ul class="list-unstyled">
            <li><a href="#">Article Heading</a></li>
            <li><a href="#">Article Heading</a></li>
            <li><a href="#">Article Heading</a></li>
            <li><a href="#">Article Heading</a></li>
            <li><a href="#">Article Heading</a></li>
            <li><a href="#">Article Heading</a></li>
          </ul>
          <hr />
        </div>
      </main>
    </div>
    <div class="col-12 col-lg-3">
      <app-technicalsuport></app-technicalsuport>
    </div>
  </div>
</div>
