<div class="container mt-3 mb-5">
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-12 col-lg-3">
      <app-navsidebar></app-navsidebar>
    </div>
    <div class="col-12 col-lg-6 pt-3">
      <article>
        <h2>Article Heading</h2>
        <div class="small">
          Last updated: <time datetime="2021-03-11">March 11, 2021</time>
        </div>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam
          exercitationem explicabo rem, ipsa enim officia doloremque est tempora
          laboriosam dolorum?
        </p>
        <p class="alert alert-warning small" role="alert">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nesciunt perspiciatis iusto voluptatibus tenetur quisquam vero nulla
          quidem ipsa saepe.
        </p>
        <h3>Article Sub Heading</h3>
        <img src="assets/img/700x500.png" class="img-fluid" alt="" />
        <h4 class="h5">Article Small Sub Heading</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero corporis
          enim debitis. Libero voluptatem quis neque inventore ipsum autem
          dicta.
        </p>
        <a href="#0">Link to other article</a>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
          dignissimos id ratione culpa magni laborum quisquam exercitationem
          deleniti facilis tenetur!
        </p>
        <ul>
          <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Perspiciatis unde non ipsum modi. Vitae molestiae saepe deserunt
            magni sed hic laudantium itaque cumque nulla? Iste autem minus ipsam
            eos doloremque.
          </li>
          <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Perspiciatis unde non ipsum modi. Vitae molestiae saepe deserunt
            magni sed hic laudantium itaque cumque nulla? Iste autem minus ipsam
            eos doloremque.
          </li>
          <li>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Perspiciatis unde non ipsum modi. Vitae molestiae saepe deserunt
            magni sed hic laudantium itaque cumque nulla? Iste autem minus ipsam
            eos doloremque.
          </li>
        </ul>
        <h3>Article Sub Heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quis
          eius nihil. Expedita, molestias placeat autem incidunt excepturi
          voluptatem blanditiis illum minus reprehenderit asperiores commodi
          necessitatibus quod magnam culpa? Dolorum.
        </p>
        <ol>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
            vitae incidunt dolor ipsam voluptate aspernatur nesciunt nihil quae
            blanditiis beatae.
            <img src="assets/img/700x500.png" class="img-fluid" alt="" />
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
            vitae incidunt dolor ipsam voluptate aspernatur nesciunt nihil quae
            blanditiis beatae.
            <img src="assets/img/700x500.png" class="img-fluid" alt="" />
          </li>
          <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque
            vitae incidunt dolor ipsam voluptate aspernatur nesciunt nihil quae
            blanditiis beatae.
            <img src="assets/img/700x500.png" class="img-fluid" alt="" />
          </li>
        </ol>
        <h3>Article Sub Heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Reprehenderit, quas necessitatibus vitae asperiores nisi voluptatem
          aperiam doloribus eius nobis est fugit magni aliquid, ipsam quod harum
          atque dignissimos sed quidem.
        </p>
        <pre class="pre-scrollabe">
          <code>
  &lt;div class=&quot;container mt-3 mb-5&quot;&gt;
  &lt;app-navbar&gt;&lt;/app-navbar&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-12 col-lg-3&quot;&gt;
      &lt;app-navsidebar&gt;&lt;/app-navsidebar&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-12 col-lg-6 pt-3&quot;&gt;
      &lt;main&gt;
        &lt;div class=&quot;section&quot; *ngFor=&quot;let link of ids&quot;&gt;
          &lt;h2&gt;Category heading&lt;/h2&gt;
          &lt;h3 class=&quot;font-italic&quot; [attr.id]=&quot;link&quot;&gt;Category Subheading&lt;/h3&gt;
          &lt;ul class=&quot;list-unstyled&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Article Heading&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Article Heading&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Article Heading&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Article Heading&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Article Heading&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Article Heading&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
          &lt;hr /&gt;
        &lt;/div&gt;
      &lt;/main&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-12 col-lg-3&quot;&gt;
      &lt;app-technicalsuport&gt;&lt;/app-technicalsuport&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

          </code>
        </pre>

        <h3>Article Sub Heading</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Column</th>
              <th scope="col">Second Column</th>
              <th scope="col">Third Column</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">First Row</th>
              <td>Marek</td>
              <td>Otto</td>
              <td>Marek</td>
            </tr>
            <tr>
              <th scope="row">Second Row</th>
              <td>Marek</td>
              <td>Otto</td>
              <td>Marek</td>
            </tr>
            <tr>
              <th scope="row">Third Row</th>
              <td>Marek</td>
              <td>Otto</td>
              <td>Dawid</td>
            </tr>
          </tbody>
        </table>
      </article>
    </div>
  </div>
</div>
